.font-pers {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.size-font-h2 {
    font-size: 5em;
}

.size-font-tab {
    font-size: 1.3em;
}

.size-font-res{
    font-size:1.1em;
}

.bg-color-button {
    background-color: #201145;
}
body {
    padding-top: 60px;
}